/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;800;900;1000&family=Inter:wght@100;200;300;500;600;700;800;900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply h-10 duration-150 ease-in cursor-pointer;
  }

  .btn-primary {
    @apply bg-[#FF6B00] text-white rounded-md font-medium;
  }

  .btn-primary:hover {
    @apply bg-orange-600;
  }

  .input {
    @apply border border-[#C4C4C4] py-2 px-5 rounded w-full;
  }

  .input + label {
    @apply absolute text-[#C4C4C4] duration-100 ease-in bg-white pointer-events-none top-2 right-5;
  }

  .input:focus + label {
    color: var(--secondary);

    @apply px-2 -translate-y-5;
  }

  .social-link {
    @apply flex items-center justify-center w-8 h-8 duration-150 ease-out rounded-full;
  }
}

@layer utilities {
  .wrapper {
    @apply w-[94%] max-w-7xl mx-auto;
  }

  .section {
    @apply py-8 md:py-14 lg:py-16;
  }

  .title {
    @apply text-[var(--primary)] text-2xl font-semibold mx-auto w-[fit-content];
    font-family: "Cairo", sans-serif;
  }

  .title img {
    @apply absolute top-0 right-0 translate-x-[25%] translate-y-[-45%];
  }

  .title + p {
    @apply mt-4 max-w-[110ch] mx-auto;
  }
}

/*================= Reset ==============*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  position: relative;
}

:root {
  --primary: #005f86;
  --secondary: #ff6b00;
  --secondary-hover: hsla(25, 100%, 50%, 0.5);

  --accent: #323232;
  --accent-dark: #18191f;
  --accent-light: #575f6b;
}

body {
  font-family: "Tajawal", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";

  overflow-x: hidden;
  color: var(--accent);
}

a {
  display: inline-block;
  cursor: pointer;
}

p {
  color: var(--accent-light);
  line-height: 1.8;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid var(--secondary);
}

section {
  overflow: hidden;
}

/* Helpers */

.slider-controls {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
}

.swiper-wrapper {
  cursor: grabbing;
}

.swiper-pagination-bullet {
  background: #b6b6b6;
  opacity: unset;
  margin: 0 !important;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 0.5em;
}

.swiper-pagination-bullet-active {
  width: 1rem;
  background: var(--secondary) !important;
}

/* Header */
.nav-link:hover,
.nav-link:focus,
.nav-link.active {
  color: var(--secondary);
}

@media (max-width: 767px) {
  .nav-link:hover,
  .nav-link:focus,
  .nav-link.active {
    padding-right: 1rem;
  }
}

.social-links a:hover,
.social-links a:focus {
  background: #ffffff;
  transform: scale(1.1);
}

.social-links .youtube:hover,
.social-links .youtube:focus {
  background: #fad0b2;
}

.social-links .twitter:hover,
.social-links .twitter:focus {
  background: #1da1f2;
}

.social-links .twitter:hover img,
.social-links .twitter:focus img {
  filter: brightness(0) invert(1);
}

.social-links .dribble:hover,
.social-links .dribble:focus {
  background: #f777a7;
}

.social-links .dribble:hover img,
.social-links .dribble:focus img {
  filter: brightness(0) invert(1);
}

.social-links .instagram:hover,
.social-links .instagram:focus {
  background-image: radial-gradient(
    circle at 33% 100%,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf
  );
}

.social-links .instagram:hover img,
.social-links .instagram:focus img {
  filter: brightness(0) invert(1);
}

/* Hero section */
.hero {
  background-image: url("../images/hero/illustration-1.png"),
    url("../images/hero/illustration-2.png");

  background-repeat: no-repeat;
  background-position: 95% 0%, 95% 45%;
  background-size: 100px;
}

@media (min-width: 768px) {
  .hero {
    background-image: url("../images/hero/illustration-1.png"),
      url("../images/hero/illustration-2.png"),
      url("../images/hero/illustration-3.png");

    background-position: 95% 5%, 95% 95%, 50% 100%;
  }
}

/* How it works */
@media (min-width: 992px) {
  #how-slider .swiper-slide:nth-child(3n + 1) div {
    margin-left: auto;
  }

  #how-slider .swiper-slide:nth-child(3n + 2) div {
    margin-inline: auto;
  }

  #how-slider .swiper-slide:nth-child(3n + 3) div {
    margin-right: auto;
  }
}

/* Work */
.work .tabs button:hover {
  background: #ffe2ce;
}

.work .tabs button.active {
  background: var(--secondary);
  color: white;
}

/* Achievements */
.achievements .items .item:nth-child(even) {
  background-color: #fff1e6;
  background-image: url("../images/achievements/border.svg");
  background-position: center;
}

/* FAQ */
.faq .item.active .arrow {
  transform: rotate(180deg);
  background: var(--secondary);
}

.faq .item .arrow::after {
  content: "";
  position: absolute;
  left: 0.75rem;
  top: 0.725rem;
  transform: translate(-50%, -70%) rotate(45deg);
  width: 0.45rem;
  height: 0.45rem;

  border-bottom: 2px solid #777777;
  border-right: 2px solid #777777;
}

.faq .item.active .arrow::after {
  border-color: white;
}

.accordion .item.active .item-content {
  max-height: 100vh;
  padding: 2rem;
  transition: 100ms ease;
}

/* Ad */
.ad {
  background: url("../images/ad/banner.png");
}

/* Footer */
.footer .newsletter .input:focus + label {
  background: #fff8f2;
}
