/* Cairo font */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;800;900;1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply h-10 duration-150 ease-in cursor-pointer;
  }

  .btn-primary {
    @apply bg-[#FF6B00] text-white rounded-md;
  }

  .btn-primary:hover {
    @apply bg-orange-600;
  }
}

@layer utilities {
  .c-span-2 {
    grid-column: span 2;
  }
}

/*================= Reset ==============*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  position: relative;
}

:root {
  --primary: #005f86;
  --secondary: #ff6b00;

  --accent: #323232;
  --accent-dark: #18191f;
  --accent-light: #575f6b;
}

body {
  font-family: "Cairo", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";

  overflow-x: hidden;
  color: var(--accent);
}

a {
  display: inline-block;
  cursor: pointer;
}

p {
  color: var(--accent-light);
  line-height: 1.8;
}

/* Helpers */
.wrapper {
  width: 92%;
  max-width: 1240px;
  margin: 0 auto;
}

.section {
  padding: 2rem 0;
  overflow: hidden;
}

.title {
  color: var(--primary);
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;

  width: fit-content;
  margin-inline: auto;
}

.title img {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(25%, -45%);
}

.title + p {
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .section {
    padding: 3.5rem 0;
  }
}

@media (min-width: 991px) {
  .section {
    padding: 4.5rem 0;
  }
}

.slider-controls {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
}

.swiper-pagination-bullet {
  background: #898989;
  opacity: unset;
  margin: 0 !important;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 0.5em;
}

.swiper-pagination-bullet-active {
  width: 1rem;
  background: var(--secondary) !important;
}

/* Header */
.nav-link {
  color: var(--accent-dark);
  transition: 150ms ease-in-out;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.active {
  color: var(--secondary);
}

@media (max-width: 767px) {
  .nav-link:hover,
  .nav-link:focus,
  .nav-link.active {
    padding-right: 1rem;
  }
}

.social-links a:hover,
.social-links a:focus {
  background: #f5f5f5;
  transform: scale(1.1);
}

.social-links .twitter:hover,
.social-links .twitter:focus {
  background: #1da1f2;
}

.social-links .twitter:hover img,
.social-links .twitter:focus img {
  filter: brightness(0) invert(1);
}

.social-links .dribble:hover,
.social-links .dribble:focus {
  background: #f777a7;
}

.social-links .dribble:hover img,
.social-links .dribble:focus img {
  filter: brightness(0) invert(1);
}

.social-links .instagram:hover,
.social-links .instagram:focus {
  background-image: radial-gradient(
    circle at 33% 100%,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf
  );
}

.social-links .instagram:hover img,
.social-links .instagram:focus img {
  filter: brightness(0) invert(1);
}

/* Hero section */
.hero {
  background-image: url("../images/hero/illustration-1.png"),
    url("../images/hero/illustration-2.png");

  background-repeat: no-repeat;
  background-position: 95% 0%, 95% 45%;
  background-size: 100px;
}

@media (min-width: 768px) {
  .hero {
    background-image: url("../images/hero/illustration-1.png"),
      url("../images/hero/illustration-2.png"),
      url("../images/hero/illustration-3.png");

    background-position: 95% 5%, 95% 95%, 50% 100%;
  }
}

/* How it works */

@media (min-width: 992px) {
  #how-slider .swiper-slide:nth-child(3n + 1) div {
    margin-left: auto;
  }

  #how-slider .swiper-slide:nth-child(3n + 2) div {
    margin-inline: auto;
  }

  #how-slider .swiper-slide:nth-child(3n + 3) div {
    margin-right: auto;
  }
}
